<div id="application">
	<div id="header" class="row">
		<h2 id="logo" class="one columns">rfim</h2>
		<!-- <img src="/img/logo.png" class="three columns" style="height:60px; width: 100px;"> -->
		<div id="account-dropdown" class="two columns offset-by-9">
			<a href="#">Preetam Dso<img src="app/img/avatar.png"><small>&#x25BC;</small></a>
			<div id="account-dropdown-sub">
				<ul>
					<li><a href="#"><img src="app/img/settings.png">Preferences</a></li>
					<li><a href="#"><img src="app/img/logout.png">Sign Out</a></li>
				</ul>
			</div>
		</div>
		<!-- This is where the logo, possibly links go (or account info) -->
	</div>


	<!-- Begin application window -->
	<div class="row">
		<div id="checkoutMain" class="nine columns">
			<div id="tab-bar">
			</div>
			<div id="store-content">
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div>
			</div>
		</div>
		<div id="checkoutCart" class="three columns">
			<!-- <header><em></em><span>$690.53</span></header>
			<div id="checkoutCartItems">
			</div>
			<footer></footer> -->
		</div>
	</div>
	<!-- End application window -->

	<div id="footer" class="row">

	</div>
</div>