<div id="application">
	<div id="header" class="row">
		<h2 id="logo" class="one columns">rfim</h2>
		<div id="account-dropdown" class="two columns offset-by-9">
			<a href="#">Preetam Dso<img src="/app/img/avatar.png"><small>&#x25BC;</small></a>
			<div id="account-dropdown-sub">
				<ul>
					<li><a href="#"><img src="/app/img/settings.png">Preferences</a></li>
					<li><a href="#"><img src="/app/img/logout.png">Sign Out</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Begin application window -->
	<div id="main-app" class="row">
		<div id="tab-bar">

		</div>
		<div id="content-window" class="ten columns push-two">


		</div>
		<aside id="sidebar" class="two columns pull-ten">
		</aside>
	</div>
	<!-- End application window -->

	<div id="footer">

	</div>
</div>