/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_common.sass */
#logo {
  color: #0e94ec;
  margin: 25px 0 0 0;
}

/* line 8, ../sass/_common.sass */
#application {
  background-image: url("../img/debut_light/debut_light.png");
  height: 100%;
  font-family: HelveticaNeue, Helvetica;
}

/* line 14, ../sass/_common.sass */
#header, #footer, #main-app {
  margin: 0 auto;
}

/* line 17, ../sass/_common.sass */
#main-app {
  -webkit-box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 4px;
  -moz-box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 4px;
  box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 4px;
  border: 1px solid gainsboro;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* line 23, ../sass/_common.sass */
#tab-bar {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 50px;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  border-bottom: 1px solid gainsboro;
}
/* line 34, ../sass/_common.sass */
#tab-bar ul li {
  display: inline-block;
  background-color: #d0d0d0;
  background-color: #e5e5e8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE5E5E8', endColorstr='#FFD1D1D5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(1%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, #d0d0d0 0%, #ffffff 1%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(top, #d0d0d0 0%, #ffffff 1%, #e6e6e6 100%);
  background-image: -o-linear-gradient(top, #d0d0d0 0%, #ffffff 1%, #e6e6e6 100%);
  background-image: linear-gradient(top, #d0d0d0 0%, #ffffff 1%, #e6e6e6 100%);
  box-sizing: border-box;
  width: 127px;
  height: 28px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.5);
  padding: 11px 14px;
}
/* line 56, ../sass/_common.sass */
#tab-bar ul li:active, #tab-bar ul li:hover {
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 60, ../sass/_common.sass */
#content-window {
  height: 400px;
  background: white;
  padding: 0;
}

/* line 65, ../sass/_common.sass */
#sidebar {
  height: 400px;
  background: #edeff2;
}

/* line 69, ../sass/_common.sass */
div#account-dropdown {
  margin-top: 30px;
}
/* line 71, ../sass/_common.sass */
div#account-dropdown a {
  line-height: 14pt;
  width: 100%;
  font-size: 10pt;
  padding: 11px 10px;
  color: #969696;
  display: block;
}
/* line 79, ../sass/_common.sass */
div#account-dropdown a img {
  margin-right: 10px;
  float: left;
}
/* line 83, ../sass/_common.sass */
div#account-dropdown a small {
  margin-left: 5px;
  line-height: 11pt;
}
/* line 87, ../sass/_common.sass */
div#account-dropdown:hover > a {
  -webkit-box-shadow: rgba(150, 150, 150, 0.5) 0px 0px 9px;
  -moz-box-shadow: rgba(150, 150, 150, 0.5) 0px 0px 9px;
  box-shadow: rgba(150, 150, 150, 0.5) 0px 0px 9px;
  opacity: 0.7;
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
}
/* line 96, ../sass/_common.sass */
div#account-dropdown:hover #account-dropdown-sub {
  display: block;
}

/* line 99, ../sass/_common.sass */
#account-dropdown-sub {
  display: none;
  -webkit-box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 5px;
  -moz-box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 5px;
  box-shadow: rgba(150, 150, 150, 0.5) 0px 3px 5px;
  width: 137px;
  top: 26px;
  position: absolute;
  z-index: 100;
  margin: 12px 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: white;
  border: 1px solid #dadada;
}
/* line 112, ../sass/_common.sass */
#account-dropdown-sub ul li a {
  width: 100%;
  font-size: 10pt;
  padding: 5px 10px;
  font-weight: 600;
  color: #323232;
  border-bottom: 1px solid #f0f0f0;
}
/* line 119, ../sass/_common.sass */
#account-dropdown-sub ul li a img {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}
/* line 123, ../sass/_common.sass */
#account-dropdown-sub ul {
  width: 100%;
}

/* line 4, ../sass/itemview.sass */
#item-search-form {
  margin-bottom: -12px;
}
/* line 6, ../sass/itemview.sass */
#item-search-form input {
  box-shadow: inset 0px 0px 4px rgba(150, 150, 150, 0.5);
  border: none;
  background: url(../img/search.png) no-repeat 10px 10px;
  padding-left: 28px;
  background-size: 11px;
}
/* line 12, ../sass/itemview.sass */
#item-search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 10pt;
}
/* line 16, ../sass/itemview.sass */
#item-search-form input:focus {
  outline: none;
}

/* line 19, ../sass/itemview.sass */
#item-column-titles {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 22px;
  line-height: 15pt;
  font-weight: bolder;
  font-size: 9pt;
  color: #c8c8c8;
}
/* line 28, ../sass/itemview.sass */
#item-column-titles span {
  padding: 0px 5px;
}

/* line 31, ../sass/itemview.sass */
.inventory-list {
  overflow: auto;
  height: 370px;
}
/* line 34, ../sass/itemview.sass */
.inventory-list a {
  background-image: url("../img/tag.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 7px 6px;
  display: block;
  font-size: 10pt;
  padding: 7px 10px;
  border-bottom: 1px solid #c8c8c8;
}
/* line 43, ../sass/itemview.sass */
.inventory-list a .basic-description {
  margin-left: 17px;
  color: #646464;
}
/* line 46, ../sass/itemview.sass */
.inventory-list a .basic-description em {
  color: #0e94ec;
  font-style: normal;
  font-weight: bold;
}
/* line 50, ../sass/itemview.sass */
.inventory-list a .section {
  color: #c8c8c8;
}
/* line 52, ../sass/itemview.sass */
.inventory-list a .size {
  color: #c8c8c8;
}
/* line 54, ../sass/itemview.sass */
.inventory-list a .quantity, .inventory-list a .arrrow {
  width: 20px;
  text-align: right;
  float: right;
  color: #787878;
  font-weight: 500;
}
/* line 60, ../sass/itemview.sass */
.inventory-list a .idtag {
  color: #c8c8c8;
}
/* line 62, ../sass/itemview.sass */
.inventory-list a .quantity_status {
  float: right;
  margin: 2px 5px;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-radius: 2px;
}
/* line 70, ../sass/itemview.sass */
.inventory-list a .quantity_status.low {
  background-color: #ff3232;
}
/* line 73, ../sass/itemview.sass */
.inventory-list a .quantity_status.okay {
  background-color: #fc8d17;
}
/* line 76, ../sass/itemview.sass */
.inventory-list a .quantity_status.good {
  background-color: #15d44e;
}

/* line 79, ../sass/itemview.sass */
.flash {
  background-color: yellow;
}

/* line 82, ../sass/itemview.sass */
.unflash {
  background-color: white;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
