/* line 1, ../sass/itemview.sass */
#item-search-form {
  margin-bottom: -12px;
}
/* line 3, ../sass/itemview.sass */
#item-search-form input {
  box-shadow: inset 0px 0px 4px rgba(150, 150, 150, 0.5);
  border: none;
  background: url(/img/search.png) no-repeat 10px 10px;
  padding-left: 28px;
  background-size: 11px;
}
/* line 9, ../sass/itemview.sass */
#item-search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 10pt;
}
/* line 13, ../sass/itemview.sass */
#item-search-form input:focus {
  outline: none;
}

/* line 16, ../sass/itemview.sass */
#item-column-titles {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 22px;
  line-height: 15pt;
  font-weight: bolder;
  font-size: 9pt;
  color: #c8c8c8;
}
/* line 25, ../sass/itemview.sass */
#item-column-titles span {
  padding: 0px 5px;
}

/* line 29, ../sass/itemview.sass */
.inventory-list a {
  display: block;
  font-size: 10pt;
  padding: 7px 10px;
  border-bottom: 1px solid #c8c8c8;
}
/* line 34, ../sass/itemview.sass */
.inventory-list .basic-description {
  color: #646464;
}
/* line 36, ../sass/itemview.sass */
.inventory-list .basic-description em {
  color: #0e94ec;
  font-style: normal;
  font-weight: bold;
}
/* line 40, ../sass/itemview.sass */
.inventory-list .section {
  color: #c8c8c8;
}
/* line 42, ../sass/itemview.sass */
.inventory-list .size {
  color: #c8c8c8;
}
/* line 44, ../sass/itemview.sass */
.inventory-list .quantity, .inventory-list .arrrow {
  float: right;
}
