/* line 2, ../sass/itemview.sass */
#item-search-form input {
  box-shadow: inset 0px 0px 4px rgba(150, 150, 150, 0.5);
  border: none;
  background: url(/img/search.png) no-repeat 10px 10px;
  padding-left: 28px;
  background-size: 11px;
}
/* line 8, ../sass/itemview.sass */
#item-search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
  font-size: 10pt;
}
/* line 12, ../sass/itemview.sass */
#item-search-form input:focus {
  outline: none;
}

/* line 15, ../sass/itemview.sass */
#item-column-titles {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 22px;
  line-height: 15pt;
  font-weight: bolder;
  font-size: 9pt;
  color: #c8c8c8;
}
/* line 24, ../sass/itemview.sass */
#item-column-titles span {
  padding: 0px 5px;
}
